*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --ff-primary: 'DM Sans', sans-serif;

  --fs-xl: 1.75rem;
  --fs-lg: 1.5rem;
  --fs-md: 1rem;
  --fs-sm: 0.75rem;

  --fw-bold: 700;
  --fw-regular: 400;

  --clr-primary-softred: hsl(10, 79%, 65%);
  --clr-primary-cyan: hsl(186, 34%, 60%);

  --clr-neutral-lightest: hsl(33, 100%, 98%);
  --clr-neutral-light: hsl(27, 66%, 92%);
  --clr-neutral-darkest: hsl(25, 47%, 15%);
  --clr-neutral-dark: hsl(28, 10%, 53%);
}

h1 {
  font-size: var(--fs-xl);
  line-height: 1;
}
h2 {
  font-size: var(--fs-lg);
}

h1,
h2:not(.balance__text h2),
.total__difference-percent {
  color: var(--clr-neutral-darkest);
}

.chart__bar-day {
  font-size: var(--fs-sm);
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  background-color: var(--clr-neutral-light);
  color: var(--clr-neutral-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.balance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary-softred);
  color: var(--clr-neutral-lightest);
  padding: 1.5rem;
  border-radius: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-neutral-lightest);
  padding: 1.5rem;
  border-radius: 1rem;
}

.info__chart {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.info__chart-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.6rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid hsla(10, 79%, 65%, 0.25);
}

.info__chart-bar .chart__bar-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
  width: 36px;
  height: 150px;
}

.chart__bar-block {
  position: relative;
  width: 100%;
  border-radius: 5px;
  background-color: var(--clr-primary-softred);
}

.info__chart-bar .chart__bar-total {
  position: absolute;
  top: -3rem;
  left: 50%;
  translate: -50% 0;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--clr-neutral-darkest);
  color: var(--clr-neutral-lightest);
  opacity: 0;
  transition: opacity 0.25s ease;
  z-index: 10;
  box-shadow: 0 0 10px 0px var(--clr-neutral-dark);
}

.chart__bar-container:hover {
  cursor: pointer;
}
.chart__bar-container:hover .chart__bar-block {
  background-color: hsl(10, 79%, 75%);
}
.chart__bar-container:hover .chart__bar-total {
  opacity: 1;
}
.chart__bar-container:focus .chart__bar-total {
  opacity: 1;
}

.total {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.total__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.total__difference {
  text-align: right;
  align-self: flex-end;
}
.total__difference-percent {
  color: var(--clr-neutral-darkest);
  font-weight: var(--fw-bold);
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
  flex-wrap: wrap;
  font-size: var(--fs-sm);
}
.attribution a {
  color: var(--clr-neutral-darkest);
}
.attribution a:hover {
  color: var(--clr-primary-softred);
}

@media (min-width: 36rem) {
  :root {
    --fs-xl: 2.75rem;
    --fs-lg: 1.85rem;
    --fs-sm: 1rem;
  }

  .balance {
    padding: 1.5rem 2rem;
  }
  .info {
    padding: 2rem 2.5rem 3rem;
  }

  .info__chart-bar {
    gap: 1rem;
  }

  .info__chart-bar .chart__bar-container {
    width: 50px;
  }
}

/* utility classes */
.max {
  background-color: var(--clr-primary-cyan);
}
.chart__bar-container:hover .max {
  background-color: hsl(187, 49%, 80%);
}
